<div class="notification notification-subscribe">
    <a class="notification-close" href="javascript:;"></a>
    Thanks for supporting me and my work!
</div>

<div class="notification notification-signup">
    <a class="notification-close" href="javascript:;"></a>
    Great, you're subscribed! Perhaps you'd also consider supporting my work?
</div>

<div class="notification notification-signin">
    <a class="notification-close" href="javascript:;"></a>
    Welcome back! You've successfully signed in.
</div>

<div class="notification notification-checkout">
    <a class="notification-close" href="javascript:;"></a>
    Wow! Thanks for the support!
</div>

<div class="notification notification-billing-update">
    <a class="notification-close" href="javascript:;"></a>
    Success! Your billing info is updated.
</div>

<div class="notification notification-billing-update-cancel">
    <a class="notification-close" href="javascript:;"></a>
    Billing info update failed.
</div>