<br/>

<div id="upcoming-events">
	<h2 class="post-card-title">Upcoming Events</h2>
	<div>
		<p>
			<a href="https://ndcoslo.com/workshop/hack-yourself-first-how-to-go-on-the-cyber-offence/" class="event-title" rel="noopener" target="_blank">Hack Yourself First (EU TZ Remote)</a>
			<br/>8th-9th June
		</p>
		<p>
			<a href="https://ndcoslo.com/" class="event-title" rel="noopener" target="_blank">NDC Oslo (EU TZ Remote)</a>
                        <br/>10th-12th June
		</p>
		<p>
			<a href="https://www.feistyduck.com/training/the-best-ssl-and-tls-training-in-the-world" class="event-title" rel="noopener" target="_blank">The Best TLS Training in the World (US/CAN TZ Remote)</a>
			<br/>7th-10th July
		</p>
		<p>
			<a href="https://www.feistyduck.com/training/the-best-ssl-and-tls-training-in-the-world" class="event-title" rel="noopener" target="_blank">The Best TLS Training in the World (EU/Asia TZ Remote)</a>
			<br/>8th-11th September
		</p>
	</div>
</div>

<br/>

<div id="cheat-sheets">
	<h2 class="post-card-title">Cheat Sheets</h2>
	<div>
		<p><a href="https://scotthelme.co.uk/csp-cheat-sheet/" class="event-title">CSP Cheat Sheet</a>
		<br/><a href="https://scotthelme.co.uk/hsts-cheat-sheet/" class="event-title">HSTS Cheat Sheet</a>
		<br/><a href="https://scotthelme.co.uk/https-cheat-sheet/" class="event-title">HTTPS Cheat Sheet</a>
		<br/><a href="https://scotthelme.co.uk/performance-cheat-sheet/" class="event-title">Performance Cheat Sheet</a></p>
	</div>
</div>

<br/>

<div id="projects">
	<h2 class="post-card-title">Projects</h2>
	<div>
		<p><a href="https://report-uri.com" class="event-title" target="_blank" rel="noreferrer noopener">Report URI</a>
		<br/><a href="https://securityheaders.com" class="event-title" target="_blank" rel="noreferrer noopener">Security Headers</a>
		<br/><a href="https://whynohttps.com" class="event-title" target="_blank" rel="noreferrer noopener">Why No HTTPS?</a>
		<br/><a href="https://crawler.ninja" class="event-title" target="_blank" rel="noreferrer noopener">Crawler.Ninja</a>
		<br/><a href="http://httpforever.com/" class="event-title" target="_blank" rel="noreferrer noopener">HTTP Forever</a></p>
	</div>
</div>

<br/>

<div id="social">
	<h2 class="post-card-title">Follow</h2>
	<div>
		<ul class="social">
			<li><a href="https://www.facebook.com/scott.helme" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a></li>
			<li><a href="https://twitter.com/Scott_Helme" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a></li>
			<li><a href="https://www.linkedin.com/in/scotthelme" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a></li>
			<li><a href="skype:scott.helme87?add" target="_blank" rel="noopener"><i class="fab fa-skype"></i></a></li>
			<li><a href="https://uk.pinterest.com/scotthelme/" target="_blank" rel="noopener"><i class="fab  fa-pinterest"></i></a></li>
			<li><a href="https://www.youtube.com/user/ScottHelme" target="_blank" rel="noopener"><i class="fab fa-youtube"></i></a></li>
			<li><a href="https://vimeo.com/scotthelme" target="_blank" rel="noopener"><i class="fab fa-vimeo-square"></i></a></li>
			<li><a href="https://www.flickr.com/photos/scotthelme/" target="_blank" rel="noopener"><i class="fab fa-flickr"></i></a></li>
			<li><a href="https://www.tumblr.com/blog/scotthelme" target="_blank" rel="noopener"><i class="fab fa-tumblr"></i></a></li>
			<li><a href="https://github.com/ScottHelme" target="_blank" rel="noopener"><i class="fab fa-github"></i></a></li>
			<li><a href="https://www.instagram.com/scotthelme/" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a></li>
			<li><a href="https://stackoverflow.com/users/1414715/scott-helme" target="_blank" rel="noopener"><i class="fab fa-stack-overflow"></i></a></li>
			<li><a href="https://stackexchange.com/users/1513078/scott-helme" target="_blank" rel="noopener"><i class="fab fa-stack-exchange"></i></a></li>
			<li><a href="bitcoin:1ScottkY3kbPi6fQEgAaGQoRfz4MxJLGZ" target="_blank" rel="noopener"><i class="fab fa-btc"></i></a></li>
			<li><a href="https://www.paypal.me/scotthelme" target="_blank" rel="noopener"><i class="fab fa-paypal"></i></a></li>
			<li><a href="mailto:scotthelme@hotmail.com" target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a></li>
			<li><a href="https://scotthelme.co.uk/rss/" target="_blank" rel="noopener"><i class="fas fa-rss"></i></a></li>
		</ul>
	</div>
</div>

{{^if @member}}

<br/>

<!--<div id="subscribe">
	<h2 class="post-card-title">Subscribe</h2>
	<div>
		<p>Want to get notified when I publish a new blog post?</p>
		<p><a class="button primary small header-cta" href="https://scotthelme.co.uk/signup/">Subscribe</a></p>
	</div>
</div>-->

{{/if}}